
<%= form_for([@diagnostic.ticket, @diagnostic]) do |f| %>
  <% if @diagnostic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@diagnostic.errors.count, "error") %> prohibited this diagnostic from being saved:</h2>

      <ul>
      <% @diagnostic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hard_drive %><br />
    <%= f.check_box :hard_drive %>
  </div>
  <div class="field">
    <%= f.label :mem_test %><br />
    <%= f.check_box :mem_test %>
  </div>
  <div class="field">
    <%= f.label :mobo %><br />
    <%= f.check_box :mobo %>
  </div>
  <div class="field">
    <%= f.label :dumps %><br />
    <%= f.number_field :dumps %>
  </div>
  <div class="field">
    <%= f.label :scans %><br />
    <%= f.number_field :scans %>
  </div>
  <div class="field">
    <%= f.label :temp %><br />
    <%= f.text_field :temp %>
  </div>
  <div class="field">
    <%= f.label :chkdsk %><br />
    <%= f.number_field :chkdsk %>
  </div>
  <div class="field">
    <%= f.label :policies %><br />
    <%= f.number_field :policies %>
  </div>
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
