<p id="notice"><%= notice %></p>
<div class="container-fluid p-4">
<p>
  <strong>Name:</strong>
  <%= @labtech_timeslip.name %>
</p>

<p>
  <strong>Labtime:</strong>
  <%= @labtech_timeslip.labtime %>
</p>

	
<h3>Labtech Ticket</h3>


<div class="table-row header">
	
     <div class="col-xs col-md-1">TicketID</div>
      <div class="col-xs col-md-2">Client</div>
      <div class="col-xs col-md-1">ClientID</div>
      <div class="col-xs col-md-1">Computer</div>
      <div class="col-xs col-md-1">ID</div>
      <div class="col-xs col-md-2">Subject</div>
      <div class="col-xs col-md-1">Status</div>
      <div class="col-xs col-md-3">Date</div>
      
   </div> 

 
    <% @last_ticket['value'].each do |key| %>
     <div class="table-row">	
          <div class="col-xs col-md-1"><%= key['TicketID'] %></div>
         <div class="col-xs col-md-2"><%= key['Client'] %></div>
          <div class="col-xs col-md-1"><%= key['ClientID'] %></div>
           <div class="col-xs col-md-1"><%= key['Computer'] %></div>
           <div class="col-xs col-md-1"><%= key['ComputerID'] %></div>
          <div class="col-xs col-md-2"><%= key['Subject'] %></div>
           <div class="col-xs col-md-1"><%= key['Status'] %></div>
           <div class="col-xs col-md-3"><%= key['StartedDate'].to_datetime.strftime("%m-%d-%Y %I:%M:%S %p") %></div>
           
       </div> 
        
    
    <% end %>
	

</div>


<%= link_to 'Edit', edit_labtech_timeslip_path(@labtech_timeslip) %> |
<%= link_to 'Back', labtech_timeslips_path %>
