<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @part.cost %>
</p>

<p>
  <strong>Price:</strong>
  <%= @part.price %>
</p>

<p>
  <strong>Parts on order:</strong>
  <%= @part.parts_on_order %>
</p>

<p>
  <strong>Parts in:</strong>
  <%= @part.parts_in %>
</p>

<p>
  <strong>Date ordered:</strong>
  <%= @part.date_ordered %>
</p>

<p>
  <strong>Date received:</strong>
  <%= @part.date_received %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
