
<div class="col-xs col-md">
	<p id="notice"><%= notice %></p>
  <div class="col-xs col-md">	
    <h1>Todo Lists </h1>
  </div>
  <div class="table-row header mb-2 hidden-xs-down">  
     <div class="col-xs-2 col-md-3"> Name </div>
      <div class="col-xs-2 col-md-1"> Completed </div>
     <div class="col-xs-2 col-md-1">Show</div>
     <div class="col-xs-2 col-md-2"> Edit </div>
     <% if current_user.admin? %>
       <div class="col-xs-2 col-md-2">Destroy</div>
     <% end %>
  </div>
    <% @todo_lists.each do |todo_list| %>
     <div class="table-row">
        <div class="col-xs-2 col-md-3"><%= todo_list.name %></div>
        <div class="col-xs-2 col-md-1"><%= todo_list.complete %></div>
        <div class="col-xs-2 col-md-1"><%= link_to 'Show', todo_list %></div>
        <div class="col-xs-2 col-md-2"><%= link_to 'Edit', edit_todo_list_path(todo_list) %></div>
        <div class="col-xs-2 col-md-2"><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></div>
     </div> 
    <% end %>
  
    <div class="col-12">  
   	  <div class="align-center m-2">
       <%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-primary' %>
      </div>   
    </div>
</div>
