<h1>Listing comments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= ticket_comment.name %></td>
    <td><%= ticket_comment.content %></td>
    <td><%= link_to 'Show', [ticket_ticket_comment.ticket, ticket_comment] %></td>
    <td><%= link_to 'Edit', edit_ticket_ticket_comment_path(ticket_comment.ticket, ticket_comment) %></td>
    <td><%= link_to 'Destroy', [ticket_ticket_comment.ticket, ticket_comment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_ticket_ticket_comment_path(params[:ticket_id]) %>
