<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ticket_comment.name %>
</p>

<p>
  <b>Content:</b>
  <%= @ticket_comment.content %>
</p>


<%= link_to 'Edit', edit_ticket_comment_path(@ticket_comment.ticket, @ticket_comment) %> |
<%= link_to 'Back', ticket_comments_path(@ticket_comment.ticket) %>
