<%= simple_form_for(@computer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.association :client, selected: session[:client], label: "Client", label_method: :full_name, prompt: "Choose Client" %>
    <%= f.input :make %>
    <%= f.input :model %>
    <%= f.input :serial_number %>
    <%= f.input :user_login %>
    <%= f.input :user_password %>
    <%= f.input :other_items %>
    <%= f.input :system_type %>
   
    
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
