<p id="notice"><%= notice %></p>

<h1>Computers</h1>
<div class="align-center"> <%= paginate @computers %>  </div>
<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Serial number</th>
      <th>User login</th>
      <th>User password</th>
      <th>Other items</th>
      <th>System type</th>
      <th>Client</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @computers.each do |computer| %>
      <tr>
        <td><%= computer.make %></td>
        <td><%= computer.model %></td>
        <td><%= computer.serial_number %></td>
        <td><%= computer.user_login %></td>
        <td><%= computer.user_password %></td>
        <td><%= computer.other_items %></td>
        <td><%= computer.system_type %></td>
        <td><%= computer.client.first_name %> <%= computer.client.last_name %></td>
                <td><%= link_to 'Show', computer %></td>
        <td><%= link_to 'Edit', edit_computer_path(computer) %></td>
        <td><%= link_to 'Destroy', computer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="align-center"> <%= paginate @computers %>  </div>
<br>

<%= link_to 'New Computer', new_computer_path %>
