<div class="container">
<%= simple_form_for(@labticket) do |f| %>
  <%= f.error_notification %>

<h3>New Labticket</h3>

  <div class="col-sm col-md">
  	
  	 <div class="col-sm-4 col-md-7">	
  	<%= f.input :started_date %> 
  	<%= f.association :user, selected: current_user.id, label_method: :email, value_method: :labtech_id, prompt:
                     "Choose Tech", include_blank: false %>
    <%= f.association :labtech_client, selected: "1", collection: LabtechClient.order(:name), label_method: :name, value_method: :lclient_id, prompt:
                     "Choose Client", include_blank: false %> 
     <%= f.input :requestor_email, input_html: { value: current_user.email } %>                   
     <%= f.input :subject %>
     <%= f.input :time_subject %>
           
    
        
  </div>
 	   <div class="col-sm-4 col-md-4 ml-md-auto">
 	   	<%= f.input :labtechloc, input_html: { value: "1" } %>
        <%= f.input :labtechpc, input_html: { value: "411" } %> 
       
        <%= f.association :timeslip_category, selected: "7", label_method: :name, value_method: :labtime, prompt:
                     "Choose Categorie", include_blank: false %>
        <%= f.association :lab_ticket_status, selected: "4", label_method: :name, value_method: :lab_status, prompt:
                     "Choose Status", include_blank: false %>  
        
        <%= f.input :hours, input_html: { value: 0 } %>
         <%= f.input :mins, input_html: { value: 15 } %>
   
  	 </div>
  	  </div>
  	  <div class="align-center m-1">
  <div class="col-sm-3 col-md-3"> 
    <%= f.button :submit, class: "btn btn-primary form-control" %><br></br>
  </div>
</div>
  
 <div class="row justify-content-md-center">
  <div class="col-xs px-5">
  <%= link_to 'Back', labtickets_path, class: "btn btn-primary", style: "width: 100px" %>
    </div>
  </div>


<% end %>
</div>
