<p id="notice"><%= notice %></p>

<div class="container p-4 pdf_body"> 
	
<h3>Printer Low Consumables</h3>


<table class="table table-condensed table table-bordered">
  <thead class="thead-inverse">
    <tr>
	
      <th>Device ID</th>
      <th>Computer Name</th>
      <th>Location</th>
      <th>Phone</th>
       <th>Test Value</th>
      <th>Supply Name</th>
      
      
   </tr>
  </thead>
  <tbody>
    <% @printer_tickets.each do |row| %>
     <tr>
          <td><%= row['DeviceID'] %></td>
          <td><%= row['ComputerName'] %></td>
          <td><%= row['Location'] %></td>
          <td><%= row['Phone'] %></td>
         <td><%= row['TestValue'] %></td>
          <td><%= row['Supply Name'] %></td>
         
      </tr>
     <% end %>
   </tbody>
</table>	
<div class="align-center m-1"> <%= link_to 'Download', printer_tickets_labtickets_path("", format: :pdf), download: "", class: "btn btn-primary" %> </div>
</div>
