<p id="notice"><%= notice %></p>

<div class="container p-4 pdf_body"> 
	
<h3>Servers</h3>

<table class="table table-md table table-striped">
  <thead class="thead-inverse">
    <tr>
	  <th>Computer ID</th>
      <th>Client ID</th>
      <th>Client Name</th>
       <th>Name</th>
        <th>Loc ID </th>
        <th>OS</th>
        
   </tr>
  </thead>
  
  <tbody>
    <% @results.each do |row| %>
     <tr>
           <td><%= row['ComputerID'] %></td>
          <td><%= row['ClientID'] %></td>
          <td><%= row['Company'] %></td>
          <td><%= row['Name'] %></td>
           <td><%= row['LocationID'] %></td>
           
           <td><%= row['OS'] %></td>
         
      </tr>
     <% end %>
   </tbody>
</table>
	</div>