<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @communication.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @communication.client_id %>
</p>

<%= link_to 'Edit', edit_communication_path(@communication) %> |
<%= link_to 'Back', communications_path %>
