<%= form_for([@lab_dispatch.labticket, @lab_dispatch]) do |f| %>
  <% if @lab_dispatch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lab_dispatch.errors.count, "error") %> prohibited this lab_dispatch from being saved:</h2>

      <ul>
      <% @lab_dispatch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
