<h1>Listing lab_dispatches</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lab_dispatches.each do |lab_dispatch| %>
  <tr>
    <td><%= lab_dispatch.phone %></td>
    <td><%= lab_dispatch.name %></td>
    <td><%= link_to 'Show', [lab_dispatch.labticket, lab_dispatch] %></td>
    <td><%= link_to 'Edit', edit_labticket_lab_dispatch_path(lab_dispatch.labticket, lab_dispatch) %></td>
    <td><%= link_to 'Destroy', [lab_dispatch.labticket, lab_dispatch], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lab dispatch', new_labticket_lab_dispatch_path(params[:labticket_id]) %>
