<p id="notice"><%= notice %></p>

<h1>Systems</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Serial number</th>
      <th>User login</th>
      <th>User password</th>
      <th>Other items</th>
      <th>System type</th>
      <th>Client</th>
      <th>Ticket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systems.each do |system| %>
      <tr>
        <td><%= system.make %></td>
        <td><%= system.model %></td>
        <td><%= system.serial_number %></td>
        <td><%= system.user_login %></td>
        <td><%= system.user_password %></td>
        <td><%= system.other_items %></td>
        <td><%= system.system_type %></td>
        <td><%= system.client %></td>
        <td><%= system.ticket %></td>
        <td><%= link_to 'Show', system %></td>
        <td><%= link_to 'Edit', edit_system_path(system) %></td>
        <td><%= link_to 'Destroy', system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System', new_system_path %>
