<p id="notice"><%= notice %></p>

<h1>Timeslip Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Labtime</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslip_categories.each do |timeslip_category| %>
      <tr>
        <td><%= timeslip_category.name %></td>
        <td><%= timeslip_category.labtime %></td>
        
        <td><%= link_to 'Show', timeslip_category %></td>
        <td><%= link_to 'Edit', edit_timeslip_category_path(timeslip_category) %></td>
        <td><%= link_to 'Destroy', timeslip_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeslip Category', new_timeslip_category_path %>
