
<div class="container-fluid" style="margin-top: 60px">
  
 
	
 <div class="col-xs col-md-12">	
   <div class="table-row header"> 	 
     <div class="col-xs col-md-2">Backup account</div>
     <div class="col-xs col-md-2">Created</div>
     <div class="col-xs col-md-1">Status</div>
     <div class="col-xs col-md-3">Details</div>
     <div class="col-xs col-md-1">Method</div>
     <div class="col-xs col-md-1">system</div>
     <div class="col-xs col-md-1">Time</div>
     <div class="col-xs col-md-1">Show</div>
 </div>
 
  <% @in_progress_b_tasks.each do |b_task| %>
    <div class="table-row"> 
    <div class="col-xs col-md-2"><%= link_to b_task.backup.backup_account, backup_path(b_task.backup_id) %></div>
    <div class="col-xs col-md-2"><%= b_task.created_at.strftime("%m-%d-%Y-%I:%M:%S %p") %></div>
    <div class="col-xs col-md-1"><%= b_task.status.name %></div>
    <div class="col-xs col-md-3"><%= b_task.details %></div>
    <div class="col-xs col-md-1"><%= b_task.communication.name %></div>
     <div class="col-xs col-md-1"><%= b_task.system %></div>
    <div class="col-xs col-md-1"><%= b_task.task_time %></div>
    <div class="col-xs col-md-1"><%= link_to 'Show', [b_task.backup, b_task] %></div>
  </div>
<% end %>
</div>
   </div>
 


