    <div class="container">
 <%= simple_form_for(@labtech_dispatch) do |f| %>
 
   <h1>Dispatch</h1>
   
   <div class="row">
      <div class"col-auto"> <%= f.input :name  %> </div> 
      <div class="col-md-4 mr-md-auto"> <%= f.input :company %> </div> 
      <div class"col-md-4 ml-md-auto"> <%= f.input :email %> </div> 
      <div class="col-md-3 mr-md-auto"> <%= f.input :phone %> </div> 
   </div>
   <%= f.association :labtickets, label: false, value_method: :id, as: :hidden %>     
   <div class="row">
      
   <%= f.simple_fields_for :labtickets do |labticket| %>
   
   <div class="col-sm-10 col-md-10">
  	  <%= labticket.input :time_subject %>
  	  <%= labticket.input :subject, input_html: { value: "Dispatch Call: " }%> 
   </div></div>
   <div class="row">	
        <div class="col-sm-4 col-md-5">  
      <%= labticket.input :started_date %> 
  	  <%= labticket.association :user, selected: current_user.id, label_method: :email, value_method: :labtech_id, prompt:
                     "Choose Tech", include_blank: false %>
      <%= labticket.association :labtech_client, selected: "1", collection: LabtechClient.order(:name), label_method: :name, value_method: :lclient_id, prompt:
                     "Choose Client", include_blank: false %> 
      <%= labticket.input :requestor_email, input_html: { value: current_user.email } %>                   
      
     </div>
 
   <div class="col-sm-4 col-md-4 ml-auto ">
 	  <%= labticket.input :labtechloc, input_html: { value: "1" }%>
      <%= labticket.input :labtechpc, input_html: { value: "411" } %> 
       
      <%= labticket.association :timeslip_category, selected: "7", label_method: :name, value_method: :labtime, prompt:
                     "Choose Categorie", include_blank: false %>
     
   </div>                              
      <div class"col-sm-2"><%= labticket.input :hours, input_html: { value: 0 } %>
                           <%= labticket.input :mins, input_html: { value: 5 } %>
            <%= labticket.association :lab_ticket_status, selected: "4", label_method: :name, value_method: :lab_status, prompt:
                     "Choose Status", include_blank: false %> 
      </div>
  
   	<% end %>
</div>
    <div class="align-center m-1">
  <div class="col-sm-3 col-md-3"> 
    <%= f.button :submit, class: "btn btn-primary form-control" %><br></br>
  </div>
</div>
  
  <%= link_to 'Back', labtech_dispatches_path %>
<% end %>
</div>
