<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @labtech_dispatch.phone %>
  <%= @labticket.subject %>
</p>


<p>
  <strong>Started date:</strong>
  <%= @labtech_dispatch.created_at %>
</p>


<%= link_to 'Edit', edit_labtech_dispatch_path(@labtech_dispatch) %> |
<%= link_to 'Back', labtech_dispatches_path %>
