<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @it_service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @it_service.description %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @it_service.rate %>
</p>

<p>
  <strong>Active:</strong>
  <%= @it_service.active %>
</p>

<%= link_to 'Edit', edit_it_service_path(@it_service) %> |
<%= link_to 'Back', it_services_path %>
