<p id="notice"><%= notice %></p>
<div class="container-margin">
	
<h1>Test Create Ticket</h1>
<%= simple_form_for(@test) do |f| %>
  <%= f.error_notification %>

  
<%=  response.code %></br></br>
<%=  response.body %></br></br>

</div>
    
 