<%= simple_form_for(@labtech_computer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :computer %>
    <%= f.input :labtech_client %>
    <%= f.input :labtech_location %>
    <%= f.input :name %>
    <%= f.input :username %>
    <%= f.input :os %>
    <%= f.input :domain %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
